[submodule "third/pink"]
	path = third/pink
	url = https://github.com/Qihoo360/pink.git
[submodule "third/slash"]
	path = third/slash
	url = https://github.com/Qihoo360/slash.git
[submodule "third/blackwidow"]
	path = third/blackwidow
	url = https://github.com/shannondb/blackwidow.git
